<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
	        name="logFile"
            fileName="${basedir}\Logs\GameListXMLEditor.log"
            layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}\Logs\GameListXMLEditor.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            concurrentWrites="true" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="logFile" />
  </rules>
</nlog>